/* Colour CSS */

.black {
    color: black;
}

.white{
    color: white;
}

.backgroundwhite{
    background-color: white;
}

.backgroundblack{
    background-color: black;
}

.background-grey{
    background-color: whitesmoke;
    width: 25%;
    border-radius: 25px;
    margin-top: 10px;
}

.background-deep-blue{
    background-color: darkblue;
    padding: 20px;
}


.blackfooter{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    bottom: 0px;
}

.blacknav{
    background-color: black;
    height: auto;
    text-align: center;
    padding: 20px;
}

.a-white {
    text-decoration: none; /* Removing underline from links*/
    color: white;
    padding: 20px;
}

.a-black {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.navbar-grey{
    background-color: lightgrey;
    padding: 20px;
}

.grey{
    background-color: whitesmoke;
    padding: 20px;
}