/* Columns */
.left,
.right {
    float: left;
    width: 25%;
    min-height: 4000px;
    /* Ensures there is always some height */
    padding: 20px;
    /* Adds padding to prevent text from touching the edges */
    box-sizing: border-box;
}

.left-10,
.right-10 {
    float: left;
    width: 10%;
    min-height: 300px;
    /* Ensures there is always some height */
    padding: 20px;
    /* Adds padding to prevent text from touching the edges */
    box-sizing: border-box;
}

.middle {
    float: left;
    width: 50%;
    text-indent: 2%;
    padding: 20px;
    box-sizing: border-box;
    min-height: 300px;
    background-color: azure;
}

/* Alignment */

.text-left {
    text-align: left;
    float: left;
}

.text-right {
    text-align: right;
    float: left;
}

.text-center {
    text-align: center;
    float: left;
}

.center {
    float: left;
    margin-right: auto;
    margin-left: 45%;
}

.inline{
    display: inline;
    white-space: nowrap;
}

/* Other */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img :hover {
    size-adjust: 10%;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) { 
    body, div, .left, .middle, .right {
        width: 100%; /* Stack columns vertically on smaller screens */
        float: none;
    }
}

.img-50x50{
    width: 50px;
    height: auto;
}

header{
    padding: 20px;
}

a{
    text-decoration: none;
    padding: 10px;
    color: inherit;
}

.navbar {
    text-align: center;
    align-self: left;
}

.position-sticky{
    position: sticky;
    top: 0;
    z-index: 1030;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100vw;
}

footer{
    color: white;
    background-color: black;
    width:  100vw;
    float: left;
}